aws_region        = "us-east-1"
iam_user_name     = "Ian"
iam_group_name    = "EC2Users"
project_tag_value = "cloud-devops-portfolio"

tags = {
  Owner       = "Larry Rondan"
  Project     = "cloud-devops-portfolio"
  Environment = "demo"
  ManagedBy   = "Terraform"
}
